= form_for :config_file, url: config_file_index_path do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :author
    %br
    = f.text_field :author

  %p
    = f.label :configs
    %br
    - @categories.each do |category_name, value|
      %h1= category_name
      %br
      - value.each_pair do |value_name, options|
        = value_name
        = f.select "configs[#{value_name}]".to_sym, options
        %br

  %p
    = f.submit


